
/* 
  ##Device = Desktops 
  ##Screen = 1025px to higher resolution desktops
*/

@media (min-width: 1024px) {
  
	 /*navbar styles*/
	.nav-item, #logo {
		font-family: "Exo", sans-serif;
	}

	#about {
		height: 100vh;
	}

	#skills {
		height: 100vh;
	}

	#projects {
		height: 100vh;
	}

}*/

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px)/* and (max-width: 1280px)*/ {
  
  	/*navbar styles*/
	.nav-item, {
		font-family: "Exo", sans-serif;
	}

	.nav-item, {
		padding: 30px;
	}

	/*about styles*/
	}

	#about {
		height: 150vh;
	}


	#profile-pic {
		width: 100%;
		height: 100%;
		border-radius: 2%;
		border: 5px solid grey;
	}	

	#about h4, h5, span{
		font-family: 'Exo', sans-serif;
		font-weight: bold;
	}

	#about-contents {
		font-family: 'Work Sans', sans-serif;
		border-top: 1px solid grey;
		border-bottom: 1px solid grey;
	}

	#about a {
		font-family: 'Work Sans', sans-serif;
		font-weight: bold;
	}

	

	/*skills styles*/
	#skills {
		height: 120vh;

	}

	.progress {
		height: 5%;
		width: 100%;
	}


	.progress-label {
		font-family: 'Exo', sans-serif;
	}

		/*progress colors*/
		#html {
			background-color: #FF69B4;
		}

		#css {
			background-color: #DA70D6;
		}

		#javascript {
			background-color: #f40303;
		}

		#bootstrap {
			background-color: #FA8072;
		}

		#jquery {
			background-color: #FF7F50;
		}

		#python {
			background-color: #FFD700;
		}

		#php {
			background-color: #228B22;
		}

		#mysql {
			background-color: #1E90FF;
		}

		#laravel {
			background-color: #7D3C98;
		}

		#skills img{
			width: 5%;
			height: 5%;
			margin-right: 10px;
		}


	/*projects styles*/

	#projects {
		height: 50vh;
	}

	.card-deck {
		height: 150%;
		width: 100%;
	}

	.card-body, .card-title {
		border: none;
	}

	#project-1, #project-2, #project-3 {
		width: 100%;
		height: 100%;
		border: none;
	}


	.reveal-text-on-image {
	  width: 100%;
	  height: 100%;
	  margin: 4px;
	  display: inline-block;
	  background-size: cover;
	  background-position: center;
	  border: 4px solid #000;
	  position: relative;
	  overflow: hidden;
	}

	.reveal-text-on-image:before,
	.reveal-text-on-image:after {
	  content: "";
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: inherit;
	  transition: 0.3s;
	}

	.reveal-text-on-image:after {
	  background: #fff;
	  transform: translateY(100%);
	  content: attr(data-text);
	  padding: 8px;
	  display: flex;
	  align-items: center;
	  text-align: center;
	}

	.reveal-text-on-image:hover:before {
	  transform: translateY(-50%); try different values
	}

	.reveal-text-on-image:hover:after {
	  transform: translateY(0);
	  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.5);
	}



	/*contact styles*/
	.contact, .btn, label, h3, footer{
		font-family: 'Exo', sans-serif;
	}

	#contact-me, #skills-header, #about-header, #projects-header {
		text-decoration: underline;
	}

	#contact-intro {
		font-family: 'Work Sans', sans-serif;
		font-weight: bold;
	}

	/*footer styles*/
	footer {
		left: 0;
		width: 100%;
		bottom: 0;

	}
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

 	#logo, .nav-item {
		padding: 10px;
		font-family: 'Exo', sans-serif;
	}

	#about {
    	height: 130vh;
    	width: 100%;
    }

  
	/*skills styles*/
	#skills {
		height: 100vh;
	}
  
  	#projects {
		height: 100vh;
	}

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    /*navbar styles*/

    #about {
    	height: 130vh;
    	width: 100%;
    }

	.nav-item, #logo, {
		font-family: "Exo", sans-serif;
	}

	.nav-item {
		padding: 10px;
	}

	/*skills styles*/
	#skills {
		height: 100vh;
	}


	/*projects styles*/

	#projects {
		height: 100vh;
	}

	#project-gallery {
		width: 100%;
		height: 100%;
	}

	.card-deck {
		height: 100%;
		width: 100%;
	}

	.card-body, .card-title {
		border: none;
	}

	.reveal-text-on-image {
	  width: 100%;
	  height: 100%;
	  margin: 4px;
	  display: inline-block;
	  background-size: cover;
	  background-position: center;
	  border: 4px solid #000;
	  position: relative;
	  overflow: hidden;
	}

	.reveal-text-on-image:before,
	.reveal-text-on-image:after {
	  content: "";
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: inherit;
	  transition: 0.3s;
	}

	.reveal-text-on-image:after {
	  background: #808080;
	  transform: translateY(100%);
	  content: attr(data-text);
	  padding: 8px;
	  display: flex;
	  align-items: center;
	  text-align: center;
	}

	.reveal-text-on-image:hover:before {
	  transform: translateY(-50%); try different values
	}

	.reveal-text-on-image:hover:after {
	  transform: translateY(0);
	  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.5);
	}

	/*contact styles*/
	.contact, .btn, label, h3, footer #contact-intro{
		font-family: 'Exo', sans-serif;
	}

	#contact-me, #skills-header, #projects-header {
		text-decoration: underline;
	}

	#contact-intro {
		font-family: 'Work Sans', sans-serif;
		font-weight: bold;
	}

	/*footer styles*/
	footer {
		left: 0;
		width: 100%;
		bottom: 0;
	}
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

   	#logo, .nav-item {
		padding: 10px;
		font-family: 'Exo', sans-serif;
	}
	

	#about {
    	height: 1350vh;
    	width: 100%;
    }

	#skills {
		height: 130vh;
	}

	/*projects styles | mobile*/

	#projects {
		height: 100vh;
	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
 	#logo, .nav-item {
		padding: 10px;
		font-family: 'Exo', sans-serif;
	}

	
	#about {
    	height: 200vh;
    	width: 100%;
    }

	#about h4, h5, span{
		font-family: 'Exo', sans-serif;
		font-weight: bold;
	}
	
	#skills {
		height: 130vh;
	}

	/*projects styles | mobile*/

	#projects {
		height: 150vh;
	}

}

