* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

#logo, .nav-item {
		padding: 10px;
		font-family: 'Exo', sans-serif;
	}

	#about {
    	height: 130vh;
    	width: 100%;
    }

  
	/*skills styles*/
	#skills {
		height: 100vh;
	}
  
  	#projects {
		height: 100vh;
	}